body {
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
  background-color: rgb(73, 73, 77);
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#player {
  position: absolute;
  width: 200px;
  height: 250px;
  z-index: 10;

  background-image: url("gifs/render_720_720_0_340_0.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: rotate(90deg);
}
#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

#health-container {
  width: 200px;
  height: 20px;
  border: 2px solid white;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
}

#health-bar {
  width: 100%;
  height: 100%;
  background-color: #00ff00;
  transition: width 0.3s ease;
}

.rocket {
  position: absolute;
  width: 30px;
  height: 12px;
  background: linear-gradient(90deg, red, orange);
  border-radius: 5px;
  box-shadow: 0 0 10px red;
}
