:root {
  --color_1: rgba(238, 174, 202, 0.3);
  --color_2: rgb(148, 187, 233, 0.3);
  --color_3: rgba(255, 255, 255, 0.3);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Sky-Stars-Pattern.jpg);
  background-size: contain;
  cursor: url(../images/cursor1.png) 15 15, default;
}

.start_btn,
#count_down {
  width: 200px;
  height: 150px;
  color: #ffe93e;
  background-color: rgb(47, 71, 47);
  border-radius: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transition: 0.5s;
}

.start_btn:hover {
  scale: 1.1;
  box-shadow: 0px 0px 25px 0px rgba(242, 244, 81, 0.628);
}

#plane_box {
  width: auto;
  height: auto;
  position: fixed;
}

#plane {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/plane.png);
  animation: 2s protectiveField infinite alternate linear;
}

@keyframes protectiveField {
  0% {
    background-color: var(--color_1);
    box-shadow: 0px 0px 5px 5px var(--color_1);
  }

  50% {
    background-color: var(--color_3);
    box-shadow: 0px 0px 5px 5px var(--color_3);
  }

  100% {
    background-color: var(--color_2);
    box-shadow: 0px 0px 5px 5px var(--color_2);
  }

}

#hp_bg {
  width: 100%;
  background-color: green;
  border-radius: 3px;
  position: absolute;
  top: -15px;
}

#hp_line {
  height: 5px;
  border-radius: 3px;
  background-color: red;
}

.rocket {
  width: 50px;
  height: 50px;
  background-image: url(../images/rocket.png);
  background-size: contain;
  position: fixed;
}

.cursorRocket {
  cursor: url(../images/icons8.png) 15 15, default;
}

#ray {
  height: 3px;
  background-color: gold;
  position: fixed;
}

#statistic {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#points,
#shots,
#accuracy {
  padding: 10px;
  background-color: #06d81b34;
  border-radius: 10px;
  color: #fff;
  user-select: none;
  font-family: sans-serif;
  font-size: 20px;
  color: yellow;
}

.bang,
.clash,
.boom {
  width: 60px;
  height: 60px;
  position: fixed;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  scale: 0;
}

.bang {
  background-image: url(../images/bang.png);
  animation: 1s bang linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

.clash {
  background-image: url(../images/clash.png);
  animation: 1s bang linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

.boom {
  width: 100px;
  height: 100px;
  background-image: url(../images/boom.png);
  animation: 2s bang alternate linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

@keyframes bang {
  0% {
    scale: 0;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}