html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#plane_box {
  width: auto;
  height: auto;
  position: fixed;
}

#plane {
  width: 100px;
  height: 100px;
  background-color: bisque;
  border-radius: 50%;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
}

#hp_bg {
  background-color: green;
  border-radius: 3px;
}

#hp_line {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: red;
}

.rocket {
  width: 50px;
  height: 50px;
  background-color: darkred;
  border-radius: 50%;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  position: fixed;
}

#ray {
  width: 300px;
  height: 3px;
  background-color: gold;
  position: fixed;
}