html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url(../images/Sky-Stars-Pattern.jpg);
  background-size: contain;
  cursor: url(../images/cursor1.png) 15 15, default;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#cockpit {
  width: 100%;
  height: 100%;
  background-image: url(../images/cockpit.png);
  background-size: 100% 100%;
  z-index: 5;
  position: absolute;
  pointer-events: none;
}

#gun_left,
#gun_right {
  width: 25%;
  height: 30%;
  background-image: url(../images/gun.png);
  background-size: 100% 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}

#gun_left {
  left: 0;
}

#gun_right {
  right: 0;
  transform: scalex(-1);
}

#ray {
  height: 3px;
  background-color: gold;
  position: fixed;
}

.rocket {
  background-image: url(../../images/rocket.png);
  background-size: contain;
  position: fixed;
}

.cursorRocket {
  cursor: url(../../images/icons8.png) 15 15, default;
}

.bang {
  width: 120px;
  height: 120px;
  position: fixed;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  scale: 0;
}

.bang {
  background-image: url(../../images/bang.png);
  animation: 1s bang linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

@keyframes bang {
  0% {
    scale: 0;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}

#statistic {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: calc(50% - 605px);
}

#statisticEndGame {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  z-index: 10;
}

#statistic div,
#statisticEndGame div {
  width: 100%;
  padding: 10px;
  background-color: #131a14a9;
  border-radius: 10px;
  color: #fff;
  user-select: none;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  color: rgb(235, 60, 51);
  z-index: 10;
}

#statistic div {
  width: 250px;
}

#statisticEndGame div {
  margin: 10px;
}